body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Dark background */
    color: #fff; /* Light text color for readability */
}

.error {
    color: red;
}

h1 {
    color: #4CAF50; /* Green color for the heading */
}

.input-label {
    font-weight: bold;
}

.input {
    margin-bottom: 8px;
}

input[type="text"] {
    margin-top: 15px; /* Space between file upload widget and text input */
    background-color: #1e1e1e; /* Slightly lighter than body for contrast */
    color: #fff;
    border: 1px solid #333;
    padding: 5px;
    width: calc(80% - 10px); /* Full width with padding considered */
}

select {
    margin-top: 15px;
    padding: 5px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button {
    background-color: #4CAF50; /* Button color matching the heading */
    color: white;
}

.submit-button:hover {
    background-color: lightgray;
    color: black;
}

.other-button {
    background-color: lightgray;
    color: black;
}

.other-button:hover {
    background-color: #4CAF50; /* Button color matching the heading */
    color: white;
}

.nav-tabs {
    margin-bottom: 10px;
}

.nav-tabs .nav-link {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

.nav-tabs .nav-link:hover {
    background-color: #367c39;
    color: white;
}

/* To also change the background color for the active tab */
.nav-tabs .nav-link.active {
    background-color: #4CAF50;
    color: white;
}

.nav-tabs .nav-link:not(.active) {
    background-color: #4CAF50;
    color: white;
    opacity: 0.5;
}

#api-keys-note {
    margin-top: 8px;;
}

.loading-bar-container {
    display: none;
    position: relative;
    background-color: #ddd;
}

.loading-bar {
    width: 0%;
    height: 20px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 20px;
    color: white;
}

.loading-percent {
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 20px;
}