<script id="location" type="text/x-handlebars-template">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingLocation{{id}}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseLocation{{id}}" aria-expanded="false" aria-controls="flush-collapseLocation{{id}}">
                {{name}}
            </button>
        </h2>
        <div id="flush-collapseLocation{{id}}" class="accordion-collapse collapse" aria-labelledby="headingLocation{{id}}">
            <div class="accordion-body">
                {{description}}
            </div>
        </div>
    </div>
</script>
